$violet: #6869F7;
$white: #ffffff;
$yellow: #F9D57F;
$lightgrey:#D8D8D8;
page{
    background-color: #F7F7F7;
}
View{
    display: inline-block;
    font-size: 32px;
}
@mixin one_line_ellipsis($width_ellipsis){
    width: $width_ellipsis;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;//单行文本溢出
}
@mixin mult_line_ellipsis($width_ellipsis, $line_ellipsis){//多行文本溢出
    overflow: hidden;
    text-overflow:ellipsis;//文本溢出显示省略号
    display: -webkit-box;
    -webkit-line-clamp: $line_ellipsis;
    -webkit-box-orient: vertical;
    width: $width_ellipsis;
  }
.leftCover{
    width: 100%;
    height: 100%;
    position: absolute;
}
.cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 25;
    position: fixed;
    left: 0;
    top: 0;
}
//其他
.commentNumber{
    color: #999999;
}
.chooseCourse{
    width: 337px;
    height: 45px;
    border-radius: 17px;
    background-color: $violet;
    color: $white;
    line-height: 45px;
    text-align: center;
}
//detail
.detailBox{
    display: block;
    margin: 16px 0 16px 36px;
}
.content{
    color: $violet;
    font-weight: bold;
    font-size: 32px;
}
.rate{
    height: 40px;
    vertical-align: bottom;
}
.ring{
    width: 715px;
    margin: 0 auto;
    display: block;
}
.ringBox{
    width: 208px;
    height: 314px;
    margin: 0 15px;
    position: relative;
    border-radius: 29px;
    background-color: #ffffff;
}
.ringBox2{
    width: 208px;
    height: 314px;
    margin: 0 15px;
    position: relative;
    top: 26px;
    border-radius: 29px;
    background-color: #ffffff;
}
.canvasBox{
    display: block;
    width: 100px;
    height: 100px;
    margin: 33px auto;
}
.levels{
    width: 208px;
    color: #AEAEAE;
}
.level{
    font-size: 20px;
}
.item{
    margin-left: 20px;
    height: 28px;
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
}

//左边小圆圈开始
@mixin circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.circle1{
    @include circle();
    background-color: $violet;
}
.circle2{
    @include circle();
    background-color: $yellow;
}
.circle3{
    @include circle();
    background-color: $lightgrey;
}
.circle4{
    @include circle();
    background-color: #FD817E;
}
//左边小圆圈结束

.sampleSize{
    height: 21px;
    font-size: 15px;
    margin: 24px 0 24px 40px;
}

.averageBox{
    display: block;
    width: 100%;
    height: 130px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.averageSmallBox1{
    width: 49%;
    height: 130px;
    border-right: 1px solid #707070;
}
.averageSmallBox2{
    width: 49%;
    height: 130px;
}
.averageName{
    width: 100%;
    color: #999999;
    font-size: 24px;
    text-align: center;
    height: 33px;
    margin-top: 13px;
}
.averageGrade{
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: $violet;
}
.feature{
    margin: 29px 0 15px 29px;
    font-size: 32px;
}
// 评课卡片列表开始
.peopleComments{
    display: block;
    text-align: center;
}
// drawer
.drawer{
    background-color: #ffffff;
    height: 100%;
    transition: width 2s;
    position: absolute;
    right: 0;
    z-index: 30;
    overflow: scroll;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 25px;
}
.infobox_drawer{
    width: 448px;
    margin: 60px 0 30px 0;
}
.info_drawer{
    font-size: 40px;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 448px;
}
.info_Eng_drawer{
    display: block;
    text-align: center;
    width: 448px;
}
//课程列表
.cmtBigBox{
    margin: 0 auto;
    display: block;
    width: 688px;
}
.commentCard{
    display: block;
    margin: 40px 0;
    background-color: #ffffff;
    padding: 25px 44px;
    border-radius: 40px;
}
.userInfo{
    width: 600px;
    display: block;
}
.avatar{
    border-radius: 40px;
}
.infoDetail{
    margin-left: 22px;
    width: 420px;
}
.username{
    @include one_line_ellipsis(400px);
}
.time{
    color: #A1A4AE;
    font-size: 22px;
}
.report{
    vertical-align: top;
    position: relative;
}
.courseInfo{
    color: $violet;
    margin: 20px 0;
}
.courseName{
    margin-right: 30px;
    @include one_line_ellipsis(360px);
    vertical-align: bottom;
}
.cmtRateBox{
    font-weight: bold;
}
.cmtContent{
    @include mult_line_ellipsis(580px, 2);
}
.cmtIconsBox{
    width: 200px;
    margin-left: 400px;
    margin-top: 30px;
    color: #A1A4AE;
    font-size: 22px;
}
.likeIconBox{
    margin-right: 25px;
}
//header
.header{
    height: 70px;
    background-color: red;
    width: 100%;
    display: fixed;
}
.collect{
    float: right;
    right: 10px;
    width: 50px;
    background-color: blue;
}
.back{
    width: 50px;
    margin-left: 10px;
    background-color: green;
}
.headerName{
    width: 80px;
    background-color: yellow;
    margin: 0 auto;
}
//hot && normal list
.List{
    display: block;
    width: 100%;
    text-align: center;
    background-color: green;
}
//drawer
.nomore{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: red;
    height: 50px;
    line-height: 50px;
}
.classMessageCard{
    width: 380px;
    display: block;
    // margin: 10px 0 10px 35px;
    margin: 10px auto;
}
.cmtimgBox{
    width: 100%;
    height: 40px;
}
.cmtimg{
    height: 40px;
    margin: 20px auto;
    display: block;
}
.tagBox{
    margin-bottom: 30px;
}