View{
    margin: 0 auto;
    display: block;
}
.muxi-tag{
    border: 1px solid black;
    border-radius: 34px;
    width: 120pt;
    height: 30pt;
    font-size: 15pt;
    text-align:center;
    margin: 20px;
}