.index{
    width: 750rpx;
    height: 1196rpx;
}
.head{
    width: 190rpx;
    height: 190rpx;
    border: 4rpx solid#6868F8;
    border-radius: 190rpx;
    margin-top: 140rpx;
    margin-left: 280rpx;
    margin-bottom:85rpx;
}
.input{
    margin-top: 40rpx;
}

.login{
    margin-left:113rpx ;
    margin-right: 124rpx;
    margin-top: 10rpx;
}

.visit{
    margin-top: 25rpx;
    margin-left:292rpx;
    width:144rpx;
    height:50rpx;
}
.visitor{
    font-size:36rpx;
    color: #6868F8;
}
.privacy{
    width:600rpx;
    height:40rpx;
    margin-left: 135rpx;
    margin-top: 30rpx;
    .icon{
        display: inline-block;
    }
    .agree{
        font-size:28rpx;
        color:rgba(136,136,136,1);
    }
    .secret{
        font-size:28rpx;
        color: #6868F8;
    }
}


.mask_bg_show{
    width: 100%;
    height: 100%;
    background: rgb(7, 7, 7);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.mask_bg_none{
    display: none;
}
.mask{
    display: none;
}
.unmask{
    position: absolute;
    z-index: 1005;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    /*Button{
        width: 400px;
        margin: 0 auto;
    }*/
}
.bottom{
    width:300px;
    height:70px;
    font-size:36px;
    font-weight:600;
    color:rgba(110,102,238,1);
    opacity:1;
    margin-top: 45rpx;
}
.authrization{
    width: 560rpx;
    height: 300rpx;
    background:#FFFFFF;
    border-radius: 30px;
}
.affirm{
    width:250px;
    height:50px;
    font-size:36px;
    font-weight:400;
    line-height:50px;
    color:rgba(0,0,0,1);
    opacity:1;
    padding-top: 50rpx;
}
.content{
    width:420px;
    height:42px;
    font-size:30px;
    font-weight:400;
    line-height:42px;
    color:rgba(136,136,136,1);
    opacity:1;
    padding-top: 18rpx;
}
.masklist{
    position: absolute;
    z-index: 1005;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    opacity: 1;
}
.list{
    background:#FFFFFF;
    color:rgba(0,0,0,1);
    font-size:35px;
    width: 600rpx;
    height: 1000rpx;
    border-radius: 30px;
    overflow-y:auto;
    padding-top: 18rpx;
    padding-left: 5rpx;
    padding-right: 5rpx;
}
.maskshow{
    width: 100%;
    height: 100%;
    background: rgb(7, 7, 7);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.name{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.unmasklist{
    display: none;
}
.unmaskshow{
    display: none;
}
