.head{
    width: 190rpx;
    height: 190rpx;
    border: 4rpx solid#6868F8;
    border-radius: 190rpx;
    margin-top: 140rpx;
    margin-left: 280rpx;

}
.visit{
    font-size:36rpx;
    color: #6868F8;
}
.secret{
    font-size:28rpx;
    color: #6868F8;
}
