$star: url(../../../assets/png/star.png);
$starFill: url(../../../assets/png/starFill.png);
$starsize: 30px;
@mixin star($url) {
    display: inline-block;
    height: $starsize;
    background-image: $url;
    background-size: $starsize $starsize;
    background-repeat: repeat-x;
}
View{
    display: inline-block;
}
.empty{
    @include star($star);
    width: 142px;
    position: relative;
    vertical-align: top;
}
.full{
    @include star($starFill);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    vertical-align: top;
}
.on{
    @include star($starFill);
    width: $starsize;
    vertical-align: top;
}
.off{
    @include star($star);
    width: $starsize;
    vertical-align: top;
}
.box{
    overflow: hidden;
    width: 142px;
    height: $starsize;
}