Image{
    vertical-align: middle;
    display: inline-block;
}
Input{
    vertical-align: middle;
    // margin-left: 30px;
    display: inline-block;
    border: 0;
    width:500rpx;
}
.box{
    display: block;
    margin: 0 auto;
    // padding: 0 20px;
}
.placeholderStyle{
    color:#B0B3BF;
    font-size: 30rpx;
    width:390rpx;
  }