Image{
    vertical-align: middle;
    display: inline-block;
}
Input{
    vertical-align: middle;
    margin-left: 30px;
    display: inline-block;
    border: 0;
}
.box{
    display: block;
    margin: 0 auto;
    padding: 0 20px;
}