Image{
    vertical-align: middle;
    display: inline-block;
}
Input{
    vertical-align: middle;
    margin-left: 30px;
    display: inline-block;
    border: 0;
}
View{
    margin: 0 auto;
    display: block;
}
