.body {
  padding: 0;
  margin: 0;
}
.standard-button {
    display: block;
    width: 80px;
    height: 45px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 0;
  }
  .pic_one{
    width: 45px;
    height: 45px;
    margin-bottom: 32px;
  }
  