body{
    margin: 0;
    padding: 0;
}
.timeS{
    width:98px;
    height:85px;
    border:2px solid rgba(110,102,238,1);
    text-align: center;
    opacity:1;
    border-right: 0px;
}
.number{
    width:98px;
    height:85px;
    display: table-cell;
    vertical-align: middle;
    font-size:34px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:48px;
    color:rgba(110,102,238,1);
    opacity:1;
}
.grayN{
    width:37px;
    height:25px;
    font-size:18px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:25px;
    color:rgba(176,179,191,1);
    opacity:1;
    position: relative;
    top:-48px;
}
.course{
    width: 1078px;
    display: flex;
    flex-direction: row;
    border:2px solid rgba(110,102,238,1);
}
.courseF{
    width:136px;
    height: 172px;
    border:2px solid rgba(110,102,238,1);
    font-size:34px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:48px;
    color:rgba(110,102,238,1);
    opacity:1;
    border-right: 0px;
    border-left: 4px solid rgba(110,102,238,1);
}
.week{
    width:136px;
    height:85px;
    border:2px solid rgba(110,102,238,1);
    border-right: 0px;
    border-left: 4rpx solid rgba(110,102,238,1);
    font-size:34px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:48px;
    color:rgba(110,102,238,1);
    text-align: center;
    line-height: 85px;
    opacity:1;
}
.collect{
    font-size:50px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:70px;
    color:rgba(255,255,255,1);
    position: fixed;
    right: 48px;
    bottom: 167px;
    opacity:1;
}
.menu{
    width:228px;
    height:216px;
    background:rgba(255,255,255,1);
    border:4px solid rgba(110,102,238,1);
    border-radius:0px 0px 20px 20px;
    position: absolute;
    top:129px;
    border-top: 0;
    left: 195px;
}
.menuButton{
    height:68px;
    font-size:28px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:68px;
    color:rgba(176,179,191,1);
    border-top: 2px solid #707070;
    border-radius: 0;
}
.muxicard{
    width:120px;
    height:150px;
    background:rgba(252,128,127,1);
    opacity:1;
    border-radius:20px;
    font-size:28px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:40px;
    color: #FFFFFF;
    padding: 0;
    box-shadow: 0;
    margin-left: 10px;
}
.checkbox-list__checkbox{
    border-top: 2px solid rgba(189,189,189,1);
    width: 500px;
}
.card{
    width:120px;
    height:150px;
    // background:rgba(252,128,127,1);
    opacity:1;
    border-radius:20px;
    line-height:40px;
    color: #FFFFFF;
    padding: 0;
    box-shadow: 0;
    margin-left: 6px;
    display: inline-block;
    vertical-align: top;
}
#card-content{
    display: -webkit-box;
    width: 56px;
    font-size:28px;
    font-family:PingFang SC;
    font-weight:400;
    padding-top: 15px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: normal;
    
}
.addtable{
    position: absolute;
    right: 28px;
    top: 32px;
}
.radioG{
    height: 258px;
}
.coursedetail{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.maincourse{
    display: table-cell;
    vertical-align: middle;
    height: 250px;
}
.coursetime{
    display: flex;
}
.place{
    margin-left: 20px;
}
.detailText{
    margin: 0 auto;
    height: 48px;
    font-size:34px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:42px;
    color:rgba(112,112,112,1);
    opacity:1;
}
.detailbox{
    margin-top: 20px;
}
.checkbox-list__checkbox{
    font-size:34px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(112,112,112,1);
    opacity:1;
}