.timeS{
    width:98px;
    height:85px;
    border:2px solid rgba(110,102,238,1);
    opacity:1;
}
.course{
    display: flex;
    flex-direction: row;
}
.courseF{
    width:128px;
    height: 172px;
    border:2px solid rgba(110,102,238,1);
    opacity:1;
}
.week{
    width:128px;
    height:85px;
    border:2px solid rgba(110,102,238,1);
    opacity:1;
}