.mp-modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1000;
    
    &__overlay,
    &__container {
      opacity: 0;
      transition: opacity 200ms ease-in;
    }
    
    &__overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.3);
    }

    &__container{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        border-radius: 12px;
        transform: translate(-50%,-50%);
        background: #ffffff;
    }

    &__popup {
        position: absolute;
        width: 100%;
        background: #fff;
    
        &-slide-down {
          top: 0;
        }
    
        &-slide-up {
          position: absolute;
          width: 100%;
          bottom: 0;
        }
      }


    &__title{
        line-height: 90px;
        height: 90px;
        width: 100%;
        border-bottom:1px solid #ddd;
        text-align: center;
    }

    &__content{
        height: 228px;
        width: 100%;
        text-align: center;
        line-height: 228px;
    }


    &__action{
        display: flex;
        border-top: 1px solid #ddd;

        &>button{
            flex: auto;
            border-radius: 0px;
            border: 0px;
            height: 80px;
            background: transparent;

            &::after{
                border: 0px;
                width: initial;
                height: initial;
            }

            &:not(:first-child){
                border-left: 1px solid #ddd;
            }

            &:last-child{
                color: rgba(125,214,208,1);
            }
        }
    }

    &--active{
        visibility: visible;

        .mp-modal__overlay,
        .mp-modal__container{
            opacity: 1;
        }
    }
}