.add{
   border: 1px solid red; 
}
.text{
    color: blue;
}
.sb{
    border-radius: 0;
}
.ring{
    width: 715px;
    margin: 0 auto;
    display: block;
}
View{
    display: inline-block;
}

.item{
    background-color: yellow; 
}
.image{
    width: 30pt;
    height: 30pt;
    vertical-align: bottom;
}
.Mxcard {
    display: flex;
    flex-direction: row-reverse;
    background-color: yellowgreen;
}