.son{
  height: 150px;
  background-color: red;
  margin: 20px 0;
}
.mult_line_ellipsis{//多行文本溢出
  overflow: hidden;
  text-overflow:ellipsis;//文本溢出显示省略号
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width:130px;
  background-color:cornflowerblue;
}
.test{
  height: 100px;
  background-color: red;
  margin: 10px 0;
  width: 200%;
}
.top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 150px;
  width: 150px;
  background-color: blue;
}