.classCard{
    color: #ffffff;
}
.row{
    text-align: center;
    width: 356px;
}
.place, .week{
    margin-left: 5px;
    font-size: 25px;
}
.time{
    font-size: 25px;
}
.classWeek{
    width: 356px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}