.input{
    margin-top: 50px;
    padding-top: 10px;
    border-top:2px solid rgba(202,202,202,1);
}
.reply-input{
    display: inline-block;
    margin-top:12px;
    box-sizing: border-box;
    padding-left:10px;
    font-size:27px;
    line-height: 73px;
    width:520px;
    height:73px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(202,202,202,1);
    opacity:1;
    border-radius:10px;
    margin-right: 10px;
}
.send-button{
    box-sizing: border-box;
    display: inline-block;
    width:122px;
    height:73px;
    padding: 0 25px 0 25px;
    font-size:32px;
    background:rgba(110,102,238,1);
    opacity:1;
    border-radius:10px;
    color: white;
    line-height: 73px;
    text-align: center;
}