.reply-input{
    margin-top:12px;
    box-sizing: border-box;
    padding-left:10px;
    height:59px;
    background:rgba(241,240,245,1);
    opacity:1;
    border-radius:20px;
    font-size:27px;
    line-height: 59px;
}