Page {
    background-color: rgba(241,240,245,1);
}
View {
    display: inline-block;
}
.navigationBox {
    display: block;
    width:750rpx;
    height:128rpx;
    background:rgba(255,255,255,1);
    box-shadow:0rpx 3rpx 6rpx rgba(0,0,0,0.16);
    text-align: center;
    font-size: 34rpx;
    color: #1C1C1C;
    font-weight: 700;
    font-family: 'PingFangSC-Regular, sans-serif';
}
.chooseAdd{
    margin: 15rpx 0rpx 0rpx 38rpx;
}
.chooseBox{
    display: block;
    top: -1rpx;
    position: fixed;
    height: 98rpx;
    width: 750rpx;
    background:rgba(255,255,255,1);
    box-shadow:0rpx 4rpx 7rpx rgba(0,0,0,0.16);
    z-index: 100;
}
.chooseSearchBack{
    margin: 13rpx 0rpx 0rpx 32rpx;
    width:598rpx;
    height:72rpx;
    background:rgba(241,240,245,1);
    border-radius:36rpx;
    z-index: 100;
}
.chooseInput{
    margin-top:9rpx;
    margin-left:32rpx;
    position: absolute;
}
.chooseSearch{
    margin: 20rpx 0rpx 0rpx 16rpx;
}
.cho oseAdd{
    // margin-top: 23rpx;
    // margin-left: 6s50rpx;
    margin: 15rpx 0rpx 0rpx 38rpx;
}

.detailsBoxes {
    background-color: rgba(241,240,245,1);
    height: 100%;
    overflow: scroll;
    padding-top: 110rpx;
    z-index: 1;
}
.detailsBox:last-child {
    display: block;
    width: 750rpx;
    margin: 37rpx 0rpx;
}
.detailsBox {
    margin-top: 37rpx;
    display: block;
    width: 750rpx;
}
.detailsCard {
    height: 300rpx;
    width: 711rpx;
    margin-left: 21rpx;
    position: relative;
    background:rgba(255,255,255,1);
    border-radius: 20rpx;
}
.detailsWrapper {
    margin: 28rpx 0rpx 0rpx 35rpx;
}
.detailsFirst {
    display: block;
    height: 76rpx;
}
.detailsAvatar {
    vertical-align: top;
    width: 80rpx;
    height: 76rpx;
    border-radius: 50%;
}
.detailsFirstInfo {
    vertical-align: top;
    height: 76rpx;
    margin-left: 21rpx;
}
.detailsFirstInfo1 {
    display: block;
    font-size: 30rpx;
    width: 350rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detailsFirstInfo2 {
    display: block;
    font-size: 22rpx;
    color: #A1A4AE;
}
.detailsFirstIcon {
    vertical-align: top;
    margin-left: 67rpx;
    display: inline-block;
    margin-top: -2rpx;
}
.detailsSecond {
    display: block;
    margin-top: 24rpx;
    height: 38rpx;
    width: inherit;
}
.detailsSecondInfo1 {
    width: 200rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #6869F7;
    font-size: 27rpx;
    height: 38rpx;
}
.detailsSecondInfo2 {
    vertical-align: top;
    height: 38rpx;
    font-size: 27rpx;
    margin-left: 31rpx;
    color: #6869F7;
    font-weight: 700;
}
.detailsRate{
    vertical-align: middle;
    margin-top: -23rpx;
}
.detailsThird {
    display: block;
    margin-top: 24rpx;
}
.detailsThirdText {
    display: -webkit-box;
    font-size: 24rpx;
    width: 491rpx;
    height: 67rpx;
    color: #070707;
    font-family: 'PingFang SC';
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: breka-word;
    white-space: normal ! important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.detailsFourth {
    display: block;
    position: absolute;
    bottom: 13rpx;
    font-size: 22rpx;
}
.detailsFourthIcon1{
    margin-left: 510rpx;
}
.detailsFourthIcon2{
    margin-left: 25rpx;
}

.bottomBox{
    display: block;
    width: 100%;
    background: rgba(241,240,245,1);
    color: black;
    font-size: 30rpx;
    height: 80rpx;
    line-height: 80rpx;
    text-align:center
}
