.image {
  width: 750rpx;
  height: 1100rpx;
}
.ChangeToCourseDetails {
  position: absolute;
  width: 750rpx;
  height: 725rpx;
  margin: 144rpx 0rpx 0rpx 0rpx;
}
.ChangeToFreeCourse {
  position: absolute;
  width: 300rpx;
  height: 300rpx;
  margin:865rpx 0rpx 0rpx 450rpx;
}