View {
    display: inline-block;
}
.chooseBox{
    width: 750rpx;
    background:rgba(255,255,255,1);
    display: block;
    top: 0rpx;
    z-index: 100;
    position: fixed;
    height: 193rpx;
}
.search{
    margin: 24rpx 32rpx 24rpx 32rpx;
}

.detailsBoxes {
    overflow: scroll;
    height: 100%;
    padding-top: 205rpx;
    background-color: rgba(241,240,245,1);
}
.detailsBox:last-child {
    display: block;
    width: 750rpx;
    margin: 37rpx 0rpx;
}
.detailsBox {
    margin-top: 24rpx;
    display: block;
    width: 750rpx;
}
.mx-card{
    width:710px;
    height:240px;
    background:rgba(255,255,255,1);
    opacity:1;
    border-radius: 30px;
    margin-left: 21px;
    display: flex;
}
.blue{
    margin-top: 40px;
    margin-left: 280rpx;
    width: 410px;
    display: inline-block;
    .people{
        font-size:27px;
        color:rgba(104,105,247,1);
        opacity:1;
        display: inline-block;
    }
    .word{
        display: inline-block;
        font-size:27px;
        color:rgba(104,105,247,1);
        opacity:1;
        margin-left: 31px;
    }
    .star{
        display: inline-block;
    }
}
.user-info{
    margin-top: 40rpx;
    margin-left: 30rpx;
    display: inline-block;
    width: 220rpx;
    font-size: 0;
   .class{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:34px;
    color:rgba(104,105,247,1);
    line-height:48px;
    width:220rpx;
    height:48px;
   }
   .teacher{
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
      margin-top: 24rpx;
      margin-left: 30rpx;
      font-size:27px;
      color:rgba(104,105,247,1);
   }
   .num{
       width:155px;
       height:38px;
       font-size: 27px;
       color:#A1A4AE ;
       margin-left: 10rpx;
       margin-top: 24rpx;
   }
}
.rate{
    margin-top: 30rpx;
    width: 410px;
    display: inline-block;
    .people{
        font-size:27px;
        color:rgba(112,112,112,1);
        opacity:1;
        display: inline-block;
    }
    .word{
        display: inline-block;
        font-size:27px;
        color:rgba(112,112,112,1);
        opacity:1;
        margin-left: 31px;
    }
    .star{
        display: inline-block;
    }
}
.tag{
    font-size: 0;
    display: inline-block;
    margin-left: 20rpx;
    margin-top:34rpx;
    // .tag1{
    //     max-width: 150px;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     white-space: nowrap;
    // }
    .tag2{
        margin-left: 15rpx;
    }
    .tag3{
        margin-top:20rpx ;
        display: inline-block;
    }
    .tag4{
        margin-top: 20rpx;
        margin-left: 15rpx;
    }

}
.choicePicker1{
    margin-top: 20rpx;
    text-align: center;
    padding-right: 15rpx;
}
.choicePicker2{
    margin-top: 20rpx;
    border-left: 5px solid rgba(241, 240, 245, 1);
    text-align: center;
    padding-right: 15rpx;
}
.choicePicker3{
    margin-top: 20rpx;
    border-left: 5px solid rgba(241, 240, 245, 1);
    text-align: center;
    padding-right: 15rpx;
}
.choicePicker4{
    margin-top: 20rpx;
    border-left: 5px solid rgba(241, 240, 245, 1);
    text-align: center;
}
.choicePicker{
    box-shadow:0px 3px 3px rgba(0,0,0,0.16);
}
.fab{
    width:120px;
    height:120px;
    background:rgba(110,102,238,1);
    box-shadow:3px 3px 10px rgba(0,0,0,0.16);
    border-radius:50%;
    opacity:1;
    font-size: 40px;
    text-align: center;
    line-height: 120px;
    position: fixed;
    right: 40px;
    bottom: 0;
    color:rgba(255,255,255,1);
}
.clear{
    margin-left: 39rpx;
    margin-top: 10rpx;
    width: 534rpx;
    font-size: 24rpx;
    bottom: 5rpx;
    left: 0;
    position:absolute;
    display: inline-block;
    text-align: center;
    color: #6868F8;
    line-height:40rpx;
  }
.index{
  background-color: rgba(255,255,255,1);
  border-left:1px solid rgba(112,112,112,1);
  border-right:1px solid rgba(112,112,112,1);
  border-bottom:1px solid rgba(112,112,112,1);
  width: 612rpx;
  height: 363rpx;
  position: absolute;
    z-index: 1005;
    top: 143%;
    left: 49%;
    transform:translate(-50%, -50%);
    opacity: 1;
  display: inline-block;
  border-radius:0px 0px 20px 20px;
}
.title{
    border-bottom:2px solid rgba(112,112,112,1);
    font-size: 24rpx;
    color:rgba(112,112,112,1);
    width: 534rpx;
    margin-left: 39rpx;
    margin-top: 10rpx;
    line-height:40rpx;
}
