View{
    display: inline-block;
}
page{
    background-color: #F1F0F5;
}
@mixin mult_line_ellipsis($width_ellipsis, $line_ellipsis){//多行文本溢出
    overflow: hidden;
    text-overflow:ellipsis;//文本溢出显示省略号
    display: -webkit-box;
    -webkit-line-clamp: $line_ellipsis;
    -webkit-box-orient: vertical;
    width:$width_ellipsis;
  }
@mixin bigbox {
    width: 688px;
    background-color: #ffffff;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
@mixin avatar($size){
    width: $size;
    height: $size;
    border-radius: 50%;
}
@mixin details {
    color: #878787;
    font-size: 20px;
    margin-top: 16px;
}
@mixin username($size) {
    font-size: $size;
    font-weight: bold;
    display: block;
}
.ancestorBox{
    @include bigbox();
    padding: 30px 44px;
    width: 600px;
    margin: 50px auto;
}
.ancestorInformation{
    margin-left: 22px;
    width: 420px;
}
.ancestorAvatar{
    vertical-align: top;
}
.ancestorAvatar Image{
    @include avatar(80px);
}
.report{
    vertical-align: top;
}
.ancestorUsername{
    @include username(30px);
}
.ancestorTime{
    @include details();
}
.courseInformationBox{
    display: block;
    color: #6869F7;
    font-size: 27px;
}
.courseInformation{
    width: 250px;
    margin-right: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
}
.toRate{
    font-weight: bold;
    vertical-align: bottom;
}
.rate{
    vertical-align: bottom;
}
.tags{
    display: block;
    margin: 0 30px;
    height: 40px;
}
.ancestorComment{
    margin-top: 20px;
    font-size: 24px;
    width: 580px;
    display: block;
}
.iconsBox{
    color: #A2A2A8;
    font-size: 21px;
    margin-left: 400px;
}
.commentIcon{
    margin-left: 24px;
    margin-right: 6px;
}
.likeIcon{
    margin-right: 6px;
}
// 下方评论列表开始
.courseCommentsDetails{
    width: 100%;
}
.commentsList{
    @include bigbox();
    padding: 20px 0;
    margin-bottom: 120px;
}
.parentCommentBox{
    margin-left: 40px;
    margin-top: 35px;
}
.parentAvatar Image{
    @include avatar(80px);
}
.parentComment{
    margin-left: 30px;
    font-size: 24px;
    width: 490px;
    vertical-align: top;
}
.parentCommentContent{
    margin-top: 8px;
    font-size: 24px;
}
.parentContainer{
    width: 480px;
}
.parentContainerIn{
    background-color: #F1F0F5;
    padding: 14px 22px;
    border-radius: 12px;
}
.parentUsername{
    @include username(24px);
}
.parentDetail{
    @include details();
}
// 二级评论开始
.reply{
    margin: 0 12px;
}
.subCommentListBox{
    margin-left: 120px;
}
.subCommentBox{
    margin-top: 30px;
}
.sonAvatar Image{
    @include avatar(50px);
}
.sonComment{
    margin-left: 30px;
    font-size: 24px;
    width: 380px;
    vertical-align: top;
}
.sonContainer{
    width: 370px;
}
.sonUsername{
    @include username(24px);
}
.sonDetail{
    @include details();
}
.sonCommentContent{
    margin-top: 8px;
    width: 370px;
    word-wrap: break-word;
    word-break: normal;
}
.replyContext{
    font-weight: normal;
    margin: 0 5px;
}
.remainComments{
    color:#6869F7;
    font-size: 24px;
}
// 下方评论列表结束
.inputBox{
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: red;
}
//MXlIKE
mx-like{
    vertical-align: bottom;
}
.nomore{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: red;
    height: 50px;
    line-height: 50px;
}