.picker {
  display: inline-block;
  width: 120px;
  height: 42px;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  vertical-align: center;
  overflow:hidden; //超出的文本隐藏
  text-overflow:ellipsis; //溢出用省略号显示
  white-space:nowrap; //溢出不换行
}
