View {
    display: inline-block;
}
.chooseBox{
    margin-top: 7rpx;
    height: 98rpx;
    width: 750rpx;
    background:rgba(255,255,255,1);
    box-shadow:0rpx 4rpx 7rpx rgba(0,0,0,0.16);
}
.search{
    margin: 13rpx 0rpx 0rpx 32rpx;
}

.detailsBoxes {
    height: 989rpx;
    width: 750px;
    margin-top: 7rpx;
    background-color: rgba(241,240,245,1);
    align-items: center;
    overflow: scroll;
}
/*
.detailsBox:last-child {
    display: block;
    width: 750rpx;
    margin: 37rpx 0rpx;
}*/
/*.detailsBox {
    position: relative;
    margin-top: 37rpx;
    display: block;
    width: 750rpx;
}*/
.mx-card{
    display: flex;
    flex-direction: row;
    background:rgba(241,240,245,1);
    margin-bottom: 37px;
    margin-top: 37px;
    margin-left: 25px;
}
.cardm{
    width:532px;
    height:300px;
    background:rgba(255,255,255,1);
    border-radius: 30px;
}
.card{
    width:711px;
    height:300px;
    background:rgba(255,255,255,1);
    opacity:1;
    border-radius: 30px;
    margin-top: 37px;
    margin-left: 21px;
    display: inline-block;
    position: absolute;
}
.itemDelete{
    width: 184rpx;
    height: 300rpx;
    background-color: #ff81b4;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fff;
    font-size: 50rpx;
    text-align: center;
    line-height: 201rpx;
}

.user-info{
    margin-left: 60rpx;
    display: inline-block;
    width: 200rpx;
   .class{
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:40px;
    color: #000000;
   }
   .teacher{
      margin-top: 30rpx;
      margin-left: 50rpx;
      font-size:35px;
      color: #000000;
   }
}
.blue{
    margin-top: 40px;
    margin-left: 280rpx;
    width: 410px;
    display: inline-block;
    .people{
        font-size:27px;
        color:rgba(104,105,247,1);
        opacity:1;
        display: inline-block;
    }
    .word{
        display: inline-block;
        font-size:27px;
        color:rgba(104,105,247,1);
        opacity:1;
        margin-left: 31px;
    }
    .star{
        display: inline-block;
    }
}
.tag{
    display: inline-block;
    margin-left: 80rpx;
    margin-top:20rpx;
    width: 300rpx;
    .tag1{
        font-size:34px;
        color:rgba(104,105,247,1);
    }
    .tag2{
        margin-left: 15rpx;
        font-size:34px;
        color:rgba(104,105,247,1);
    }
    .tag3{
        margin-top:20rpx ;
        display: inline-block;
        font-size:34px;
        color:rgba(104,105,247,1);
    }
    .tag4{
        margin-top: 20rpx;
        margin-left: 15rpx;
        font-size:34px;
        color:rgba(104,105,247,1);
    }

}
.label{
    width: 750rpx;
    height: 150rpx;
}
