.tag-checked {
    background-color: #6E66EE;
    color: white;
}
.tag-unchecked {
    background-color: #FFFFFF;
    color: #B0B3BF;
}
.tag-uncheckable {
    background-color: #FFFFFF;
    color: #B0B3BF;
}
.tag {
    background-color: #F0F0F0;
    color: #A2A2A8;
}
.tag-uncheck {
    background:rgba(235,237,245,1);
    color:rgba(110,102,238,1);
}