Page {
    background-color: rgba(241,240,245,1);
}
View {
    display: inline-block;
}
.chooseBox{
    display: block;
    background: #B3B3B3;
    width: 100%;
    padding: 48rpx 92rpx 48rpx 35rpx;
}
.chooseTri {
    margin-left: 50rpx;;
}
.chooseText {
    font-size: 40rpx;
    margin-left: 100rpx;
}

.detailsBoxes {
    display: inline;
    overflow: scroll;
}
.detailsBox:last-child {
    display: block;
    width: 750rpx;
    margin: 37rpx 0rpx;
}
.detailsBox {
    margin-top: 37rpx;
    display: block;
    width: 750rpx;
    height: 300rpx;
}
.detailsCard {
    height: 300rpx;
    width: 711rpx;
    margin-left: 21rpx;
    position: relative;
    background:rgba(255,255,255,1);
    border-radius: 20rpx;
}
.detailsLeft {
    max-width: 220rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    margin-top: 100rpx;
    margin-left: 25rpx;
    vertical-align: top;
    width: 200px;
}
.detailsRight {
    display: inline-block;
    margin-top: 63rpx;
    margin-left: 45rpx;
    vertical-align: top;
}
.detailsRightDown {
    display: block;
    margin-top: 12rpx;
    color: rgb(173, 188, 230);
    font-size: 35rpx;
}
.detailsText{
    width: 165rpx;
    word-break:keep-all; 
}
