View {
    display: inline-block;
}
Page {
  background-color: rgba(241,240,245,1);
}
.detailsBoxes {
    height: 100%;
    width: 750px;
    //margin-top: 7rpx;
    background-color: rgba(241,240,245,1);
    align-items: center;
    overflow: scroll;
    display: block;
}
/*
.detailsBox:last-child {
    display: block;
    width: 750rpx;
    margin: 37rpx 0rpx;
}*/
/*.detailsBox {
    position: relative;
    margin-top: 37rpx;
    display: block;
    width: 750rpx;
}*/
.mx-card{
    display: flex;
    flex-direction: row;
    background:rgba(241,240,245,1);
    margin-bottom: 37px;
    margin-top: 37px;
    margin-left: 25px;
}
.cardm{
    width:532px;
    height:300px;
    background:rgba(255,255,255,1);
    border-radius: 30px;
}
.card{
    width:711px;
    height:300px;
    background:rgba(255,255,255,1);
    opacity:1;
    border-radius: 30px;
    margin-top: 37px;
    margin-left: 21px;
    display: inline-block;
    position: absolute;
}
.itemDelete{
    width: 184rpx;
    height: 300rpx;
    background-color: #ff81b4;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fff;
    font-size: 40rpx;
    text-align: center;
    line-height: 201rpx;
    writing-mode:vertical-rl;
    text-orientation:upright;
}
.detailsLeft {
    max-width: 220rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    margin-top: 100rpx;
    margin-left: 25rpx;
    vertical-align: top;
    width: 200px;
}
.detailsRight {
    margin-left: 46rpx;
    margin-top: 63rpx;
    width: 410px;
    display: inline-block;
}
.detailsRightDown {
    font-size: 0;
    display: inline-block;
    margin-top:28rpx;
    .tag2{
        margin-left: 15rpx;
      }
      .tag3{
        margin-top:15rpx ;
        display: inline-block;
        margin-bottom: 45rpx;
      }
      .tag4{
        margin-top: 15rpx;
        margin-left: 15rpx;
        margin-bottom: 45rpx;
      }
}
.detailsText{
    width: 165rpx;
    word-break:keep-all;
}

.InfoText1{
  font-size: 34rpx;
}
.InfoText2{
  font-size: 30rpx;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.commentText{
  font-size: 30rpx;
  margin-left: 68rpx;
}

.tags{
  height: 30rpx;
  display: block;
}
