$size: 140px;
$violet: #9154B8;
$yellow: #F9D57F;
$darkgrey: #999999;
$white: #ffffff;
$lightgrey:#D8D8D8;
$sizeDiff: 15px;
$typeSize: $size - $sizeDiff;
View{
    display: inline-block;
}
.box{
    width: 300px;
    height: 452px;
    background-color: $darkgrey;
    border-radius: 42px;
}
.levels{
    margin-left: 29px;
    font-size: 29px;
    color: #AEAEAE;
}
.level{
    vertical-align: middle;
}
//左边小圆圈开始
@mixin circle {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    vertical-align: middle;
    margin-right: 14px;;
}
.circle1{
    @include circle();
    background-color: $violet;
}
.circle2{
    @include circle();
    background-color: $yellow;
    margin: 3px 14px 3px 0px;
}
.circle3{
    @include circle();
    background-color: $lightgrey;
}
.content View{
    vertical-align: middle;
}
//左边小圆圈结束
// 环形图开始
@mixin sector {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}
.ring{
    display: block;
    position: relative;
    width: $size;
    height: $size;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid $darkgrey;
    margin: 48px auto;
}
.sector1{
    @include sector();
    background-color: $violet;
}
.sector2{
    @include sector();
    background-color: $yellow;
}
.type{
    text-align: center;
    line-height: $typeSize;
    height: $typeSize;
    width: $typeSize; 
    border-radius: 50%;
    position: absolute;
    top: $sizeDiff / 2;
    left: $sizeDiff / 2;
    color: $violet;
    background-color: $white;
    font-size: 33px;
}
// 环形图结束























// @mixin sector($size){
//     width: $size;
//     height: $size;
//     clip: rect(0 $size $size $size/2);
//     position: absolute;
//     overflow: hidden;
// }
// @mixin sectorAfter{
//     content:'';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     border-radius: 50%;
//     clip: rect(0 $size/2 $size 0);
// }
// .sector1 {
//     @include sector($size)
// }
// .sector1::after{
//     @include sectorAfter();
//     background-color: $violet;
//     transform: rotate(30deg);
// }
// .sector2 {
//     @include sector($size);
//     transform: rotate(60deg);
// }
// .sector2::after {
//     @include sectorAfter();
//     background-color: $yellow;
//     transform: rotate(90deg);
// }
// .border{
//     position: relative;
//     width: $size;
//     height: $size;
//     border-radius: 50%;
//     border: 2px solid $darkgrey;
// }
// .type{
//     position: absolute;
//     width: 200px;
//     height: 200px;
//     top: 50px;
//     left: 50px;
//     background-color: #ffffff;
//     text-align: center;
//     line-height: 200px;
//     border-radius: 50%;
// }