.mycourse_page-picker-container {
  display: flex;
  border-top: 5px solid rgba(241, 240, 245, 1);
  border-bottom: 5px solid rgba(241, 240, 245, 1);
}
.select-year {
  width: 363px;
  height: 80px;
  border-right: 5px solid rgba(241, 240, 245, 1);
  padding-left: 47px;
  display: flex;
  align-items: center;
}
.select-term {
  width: 382px;
  height: 80px;
  padding-left: 59px;
  display: flex;
  align-items: center;
}
.mycourse_page-courselist-item {
  // width: 750px;
  font-size: 30px;
  margin: 0 40px;
  padding: 30px 0;
  opacity: 0.84;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px solid #EBEDF5;
}
.left-icon {

}
.course-name{
   margin-left:27px;
   width:240px;
   overflow:hidden; //超出的文本隐藏
   text-overflow:ellipsis; //溢出用省略号显示
   white-space:nowrap; //溢出不换行
}
.teacher-name {
   width:120px;
   margin-right:80px;
}
.text-normal{
  color:rgba(169, 169, 169, 1)
}
.text-special{
  color:rgba(110, 102, 238, 1)
}
.float-right {
  
}
.right-icon {
  margin-left:27px;
}