.home-page-user-info{
    width:750px;
    height:284px;
}
.avatar-image{
    display: inline-block;
}
.user-avatar{
    display: inline-block;
    width: 167px;
    height: 167px;
    border: 4px solid #6868F8;
    border-radius: 84px;
}
.user-info{
    display: inline-block;
}
.main-page-list{
    padding-left: 33px;
    padding-right: 10px;
}
.example{
    background: pink;
    border-radius: 40px;
}
.cat{
    background: pink;
}
